.someui {
  &-rate {
    &__items {
      display: flex;
      align-items: center;

      &:not(&_disabled) {
        .someui-rate__item {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &__item {
      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &_disabled {
        color: grey;
      }
    }
  }
}