.ruc-cb {
  &__label {
    margin-bottom: 10px;

    font-size: 16px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20px;
    height: 20px;

    border: 1px solid $ui-color-3;
    border-radius: 5px;
    
    &:not(&_disabled) {
      &:hover {
        cursor: pointer;
      }
    }
    
    &_checked {
      &::after {
        content: "✔";
      }
    }
  }

  &__checkbox {
    display: none;
  }
}