.ruc-select {
  &__items {
    position: relative;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    opacity: 1;

    transition: opacity .5s;

    &_hidden {
      display: none;
      opacity: 0;
      
      .ruc-select__item {
        &:hover {
          cursor: default;
        }
      }
    }
  }

  &__item,
  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $ui-color-white;

    border: 1px solid black;

    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    position: absolute;
    left: 0;

    z-index: 10;
  }

  &__preview {
    width: 150px;
    height: 35px;
  }
}