.someui-backtop {
  position: fixed;

  bottom: 20px;
  right: 20px;

  display: inline-block;

  padding: 15px;
  min-height: 18px;
  min-width: 18px;

  border: 1px solid black;
  border-radius: 40px;

  background-color: #000;
  color: #fff;

  cursor: pointer;

  transition: opacity .2s;
}