.ruc {
  &-rate {
    &__items {
      display: flex;
      align-items: center;

      font-size: 50px;
      line-height: 0.3;

      &:not(&_disabled) {
        .ruc-rate__item {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &__item {
      color: $ui-color-yellow;

      &_disabled {
        color: $ui-color-black;
      }
    }
  }
}