.someui-scroll {
  overflow: hidden;

  width: calc(100% - 14px);
}

.someui-modal {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  overflow: auto;

  opacity: 0;
  z-index: -99;

  transition: opacity .3s;

  min-width: 70%;
  min-height: 200px;

  padding: 15px;

  background-color: #fff;

  border: 1px solid #000;

  &_visible {
    display: block;

    opacity: 1;
    z-index: 0;
  }
}