.someui-table {
  color: $ui-color-3;

  border: 1px solid $ui-color-3;

  text-align: center;

  &__column {
    padding: 2px 10px;
  }

  &__item {
    box-sizing: border-box;

    padding: 4px;

    border: 1px solid $ui-color-3;
  }
}