@function grid-value($columnsCount, $span) {
  @return 100 / $columnsCount * $span;
}

@mixin grid-columns($columnsCount, $class) {
  @for $i from 1 through $columnsCount {
    .#{$class}-#{$i} {
      width: #{grid-value($columnsCount, $i)}#{'%'};
    }
  }
}

.someui-grid {
  &__row {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }
}

@include grid-columns(12, 'someui-grid__col');